.ball{
    width: 55px;
    height: 55px;
    margin-right: 10px;
}
.Logo{
    display: flex;
    flex-direction: row;
}
.title{
    font-family: 'Montserrat','Courier New', Courier, monospace;
    font-weight: bold;
    color: white;
}

.beta{
    color: rgb(255, 208, 0);
}
