.btnJ{
    color: white;
    border-radius: 25px;
    background-color: #f3f3f35b;
    width: 149px;
    height: 56px;
    border: none;
}
.btnBack{
    background-color:  yellow;
    border-radius: 25px;
    border: none;
    width: 40px;
}