.About{
    position: relative;
    text-align: center;
    margin-bottom: 90px;
    margin-top: 130px;
}
.reglesCont{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.Dinho{
    width: 130px;
    height: 188px;
   position: absolute;
   opacity: 0.43;
     right: 5%;
  bottom: 0;
}
.ball2{
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.aboutText{
  font-size: 18px;
}