body{
  min-height: 100vh;
  overflow-x: hidden;
  margin: 0;
  background: linear-gradient(
    180deg, 
    #6E5AE0 0%, 
    #7C41F4 12%, 
    #063896 77%
  ) no-repeat ;
}
.line{
 color: white;
 width: 57%;
 justify-self: center;
}