.regles{
    position: relative;
    text-align: center;
    margin-bottom: 90px;
}
.ref{
    width: 68px;
    height: 111px;
}
.RegCont{
    background: rgba(255, 255, 255, 0.25);
    min-width: fit-content;
    max-width: 632px;
    height: 210px;
    color: white;
    border-radius: 25px;
    text-align: start;
    padding-top: 15px;
    min-height: fit-content;

}
.textIn{
    font-size: 18px;
    line-height: 1.7;
}
